---
// import { Icon } from "astro-icon/components";
---

<!-- About -->
<section id="about">
  <!-- Profile progress -->
  <div class="flex align-middle">
    <!-- Name & progress bar -->
    <div>
      <div class="text-white text-3xl">Greg Han</div>
      <div class="text-secondary">
        this is a description please don't delete
      </div>
      <div aria-hidden="true" class="h-2 bg-[#d9d9d9] rounded-full">
        <div class="w-[75%] bg-purple h-2 rounded-full"></div>
      </div>
    </div>
    <!-- Day progress -->
    <div
      class="flex flex-col justify-center text-center rounded-3xl bg-purple text-white aspect-square px-3 py-4"
    >
      <div>Day progress</div>
      <div class="text-5xl">80</div>
    </div>
    <!-- Medal  -->
    <div class="flex rounded-3xl bg-grey-400 px-3 py-4">
      <!-- <Icon name="ic-medal" /> -->
      <div>
        <div class="font-bold text-white text-2xl">1st Place</div>
        <div class="text-[#f8f8f8] text-sm">Consistency move future</div>
        <a
          class="inline-block text-[#d3d2d2] text-sm underline hover:cursor-pointer"
        >
          see all leaderboard
        </a>
      </div>
    </div>
  </div>
</section>
