---
import { Icon } from "astro-icon/components";
---

<section
  id="articles"
  class="w-full max-w-8xl mb-10 flex justify-between text-white"
>
  <div class="p-6">
    <h2 class="text-4xl font-semibold">Article</h2>
    <a href="#" class="underline font-thin">
      <div class="flex flex-row items-center gap-2">
        <p>See all news</p>
        <Icon name="mdi:arrow-bottom-right" />
      </div>
    </a>
  </div>
  <div class="py-6 max-w-[40rem] ml-[15rem]">
    <p>
      This article is designed to help maximize your potential within 100 days.
      Through daily consultations. You'll receive guidance tailored to your
      journey.
    </p>
  </div>
</section>
