<section id="articles" class="w-full max-w-8xl mb-10">
  <div class="flex justify-right mx-6">
    <div class="grid grid-cols-4 grid-flow-row-dense gap-4">
      <div
        class="bg-gradient-to-br from-purple to-pink-500 p-6 rounded-2xl text-white shadow-md"
      >
        <p class="text-xs mb-[10rem]">Kamis, 2 Januari 2025</p>
        <h2 class="text-lg font-semibold">Unlock purpose in 100 days</h2>
      </div>
      <div
        class="bg-gradient-to-br from-purple to-pink-500 p-6 rounded-2xl text-white shadow-md"
      >
        <p class="text-xs mb-[10rem]">Kamis, 2 Januari 2025</p>
        <h2 class="text-lg font-semibold">Achieve growth daily reflection</h2>
      </div>
      <div
        class="bg-gradient-to-br from-purple to-pink-500 p-6 rounded-2xl text-white shadow-md"
      >
        <p class="text-xs mb-[10rem]">Kamis, 2 Januari 2025</p>
        <h2 class="text-lg font-semibold">Transform your journey with AI</h2>
      </div>
      <div
        class="bg-gradient-to-br from-purple to-pink-500 p-6 rounded-2xl text-white shadow-md"
      >
        <p class="text-xs mb-[10rem]">Kamis, 2 Januari 2025</p>
        <h2 class="text-lg font-semibold">Transform your journey</h2>
      </div>
    </div>
  </div>
</section>
