---

---

<section
  class="flex flex-col items-center justify-center min-h-[660px] h-full bg-black text-white w-full"
>
  <h1 class="text-[96px] font-bold">IMPHNEN</h1>
  <p class="mt-4 text-center text-lg max-w-xl">
    Ingin Menjadi Programmer Handal Namun Enggan Ngoding
  </p>
  <div class="mt-8 flex space-x-4">
    <a
      href="#create-article"
      class="px-6 py-2 bg-blue-600 rounded-lg text-white hover:bg-blue-500"
    >
      Create article
    </a>
    <a
      href="#consultation"
      class="px-6 py-2 bg-blue-600 rounded-lg text-white hover:bg-blue-500"
    >
      Consultation
    </a>
  </div>
</section>
