<section id="join-our-community" class="w-full max-w-8xl px-6">
  <div class="flex flex-col justify-center items-center min-h-[30rem]">
    <h1 class="font-bold text-4xl text-white mb-10">JOIN OUR COMUNITY</h1>
    <h1 class="font-bold text-1xl text-white max-w-[45rem] text-center mb-10">
      JOIN THE IMPHNEN COMMUNITY WITH OVER 121.000 MEMBERS TO LEARN PROGRAMMING,
      SHARE KNOWLEDGE, AND GROW TOGETHER CONNECT WITH LIKE-MINDED INDIVIDUALS,
      EXCHANGE IDEAS, AND ENHANCE YOUR SKILLS IN A SUPPORTIVE
    </h1>
    <a href="#" class="text-white bg-[#1e4272] px-5 py-3 rounded-md">
      Join Community
    </a>
  </div>
  <hr />
  <div class="flex justify-between">
    <div class="p-5">
      <p class="text-[#d8d8d8] font-thin text-xs">
        CONNECT WITH LIKE-MINDED INDIVIDUALS EXCHANCE IDEAS, AND ENHANCE YOUR
        SKILLS IN A SUPPORTIVE
      </p>
    </div>
    <div class="p-5 flex gap-3">
      <p class="text-[#d8d8d8] font-thin text-xs">@2025 ALL RIGHTS RESERVED</p>
      <p class="text-[#d8d8d8] font-thin text-xs">PRIVACY</p>
      <p class="text-[#d8d8d8] font-thin text-xs">TERM OF USE</p>
    </div>
  </div>
</section>
