---
import Button from "@/components/ui/button.astro";
---

<!-- Join Our Community -->
<section
  id="join-our-community"
  class="w-full max-w-8xl px-6 text-white text-center my-12"
>
  <div class="font-bold text-[6rem]">JOIN OUR COMMUNITY</div>
  <div class="font-semibold mt-6 mb-10">
    <p class="uppercase leading-loose text-2xl">
      Join the IMPHNEN Community with over 121,000 members to learn programming,
      <br /> share knowledge, and grow together. Connect with like-minded individuals,
      <br /> exchange ideas, and enhance your skills in a supportive
    </p>
  </div>
  <Button label="Join Community" size="text-2xl" href="" />
</section>
