---
import Navbar from "@/components/ui/navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>IMPHNEN - Website</title>
  </head>
  <body>
    <Navbar />
    <main class="w-full flex justify-center items-center">
      <div class="w-full flex items-center max-w-7xl px-4">
        <slot />
      </div>
    </main>
  </body>
</html>
