<footer class="text-white text-xs max-w-8xl w-full px-5">
  <hr />
  <div class="flex justify-between">
    <div class="p-5">
      <p class="text-[#d8d8d8] font-thin text-xs">
        CONNECT WITH LIKE-MINDED INDIVIDUALS EXCHANCE IDEAS, AND ENHANCE YOUR
        SKILLS IN A SUPPORTIVE
      </p>
    </div>
    <div class="p-5 flex gap-3">
      <p class="text-[#d8d8d8] font-thin text-xs">@2025 ALL RIGHTS RESERVED</p>
      <p class="text-[#d8d8d8] font-thin text-xs">PRIVACY</p>
      <p class="text-[#d8d8d8] font-thin text-xs">TERM OF USE</p>
    </div>
  </div>
</footer>
