---

---

<footer class="text-white text-xs w-full flex justify-center py-8 border-t">
  <div class="flex justify-between w-full max-w-8xl px-6">
    <div class="uppercase select-none">
      Connect with like-minded individuals, exchange ideas, and enhance your
      skills in a supportive
    </div>
    <div class="flex flex-row gap-6">
      <div class="select-none">&copy; 2025 ALL RIGHT RESERVED</div>
      <div>
        <a href="" class="hover:underline underline-offset-4">PRIVACY</a>
      </div>
      <div>
        <a href="" class="hover:underline underline-offset-4">TERMS OF USE</a>
      </div>
    </div>
  </div>
</footer>
