---
import { Icon } from "astro-icon/components";
---

<header class="bg-black w-full flex justify-center min-h-[86px] sticky top-0">
  <nav
    class="flex items-center max-w-8xl justify-between px-6 py-4 bg-black text-white w-full"
  >
    <div class="text-xl font-semibold">IMPHNEN</div>
    <ul class="flex space-x-8">
      <li>
        <a href="#home" class="hover:underline"> Home </a>
      </li>
      <li>
        <a href="#article" class="hover:underline"> Article </a>
      </li>
      <li>
        <a href="#about-us" class="hover:underline"> About us </a>
      </li>
    </ul>
    <div class="flex items-center space-x-4">
      <button aria-label="Search" class="hover:text-gray-400">
        <Icon name="ic-search" size={20} />
      </button>
      <button aria-label="Edit" class="hover:text-gray-400">
        <Icon name="ic-edit" size={20} />
      </button>
    </div>
  </nav>
</header>
